* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.box {
    display: flex;
    margin: 5px;
    align-items: center;
    height: 500px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #333;
    font-size: 15px;
    width: fit;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    letter-spacing: 7px; 
    margin-bottom: 30px;
    font-weight: 200;
    font-family: 'Gill Sans', sans-serif;
}

h3 {
    font-weight: 400;
    font-family: 'Gill Sans', sans-serif;
}

input {
    font-size: 12px;
    padding: 5px 5px;
    margin-top: 10px;
    background: none;
    border: none;
    color: rgb(222, 220, 220);
    border-bottom: 2px solid #ddd;    
}

input::placeholder {
    color: rgb(222, 220, 220);
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 7px;
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    background: none;
    border-radius: 5px;
    border-color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s, color .3s;
}

button:hover {
    color: #333;
    background-color: #ddd;
}

.wrapper {
    margin-left: 10px;
    width: 400px;
    padding: 20px 20px;
    background: linear-gradient(290deg, #345235 7.18%, #26bb5f 70%);
    /* background: #2ff179; */
    border: none;
    border-radius: 25px;
    justify-content: center;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 0px;
}

.top {
    height: 270px;
}

.bottom {
    margin-top: 10px;
    height: 160px;
}

.main-info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.city-name {
    font-size: 30px;
    padding: 10px;  
}

.headings,
.weather-info {
    display: flex;
    align-items: center;
}

.headings p,
.weather-info p {
    width: 33.3%;
    text-align: center;
}

.headings {
    height: 35%;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.weather-info {
    margin-top: 15px;
    padding: 5px;
    font-size: 22px;
}

.photo {
    width: 90px;
    height: 90px;
	object-fit: contain;
}

.warning {
    font-weight: 900;
    margin-top: 10px;
    font-size: 14px;
    color: tomato;
}